.DS_Store
/todo.txt

# Ignore local Terraform state and vars
.terraform
**/*.tfstate
**/*.tfstate.backup
**/*.tfstate.*.backup
**/*.tfvars
.cloudgov-smoke-report.txt
.cloudgov-smoke.tfvars
.cloudgov-smoke.tfstate
.cloudgov-smoke.tfstate.*
supabase/kong/app.zip
*.env
/.docker
/docker/volumes/db/data
